<%- model_class = DeviceModel -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:title) %>:</strong></dt>
  <dd><%= @device_model.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:device_brand_id) %>:</strong></dt>
  <dd><%= @device_model.device_brand.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:device_type_id) %>:</strong></dt>
  <dd><%= @device_model.device_type.title %></dd>
  <dt><strong><%= model_class.human_attribute_name(:rack_units) %>:</strong></dt>
  <dd><%= @device_model.rack_units %></dd>
  <dt><strong><%= model_class.human_attribute_name(:ethernet_interfaces) %>:</strong></dt>
  <dd><%= @device_model.ethernet_interfaces %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              device_models_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_device_model_path(@device_model), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              device_model_path(@device_model),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
