<div class="page-header">
  <h1><%=t 'Container Brief' %></h1>
  <h2><%= @container.title %></h2>
</div>



<table class="table table-bordered">
  <thead>
    <tr>
      <th><%=t('Slot')%></th>
      <th><%=t('Type')%></th>
      <th><%=t('Model')%></th>
      <th><%=t('Device')%></th>
      <th><%=t('Item #')%></th>
      <th><%=t('Occupation')%></th>
    </tr>
  </thead>
  <%
      current_item = nil

      slots = !@container.reverse ? @container.container_slots : @container.container_slots.reverse

      slots.each_with_index do |slot, i|
        #agrupar items iguais
        if slot.item != nil && slot.item != current_item

          #pegar os próximos items iguais
          if slot.item.device.device_model.rack_units > 1
            if @container.reverse
              title = " #{slot.title} to #{@container.container_slots[slots.size - i - slot.item.device.device_model.rack_units].title}"
           else
             title = " #{slot.title} to #{@container.container_slots[i - 1 + slot.item.device.device_model.rack_units].title}"
           end
          else
            title = slot.title
          end
  %>
          <tr class="success">
            <th><%= title %></th>
            <td><%= slot.item.device.device_model.device_type.title %></td>
            <td><%= slot.item.device.device_model.title %></td>
            <td><%= slot.item.device.title  %></td>
            <td><%= slot.item.number  %></td>
            <td><%= "#{slot.item.device.device_model.rack_units} Slots" %></td>
          </tr>
  <%
        #caso de ainda é do mesmo ítem
        current_item = slot.item
        elsif slot.item != nil
          next
        #caso de slot vago
        else
  %>
          <tr class="warning">
            <th><%= slot.title %></th>
            <td colspan="10"><%= t('Empty Slot')  %></td>
          </tr>
  <%
        end
  %>

  <% end %>
</table>
<%= link_to t('.back', :default => t("helpers.links.back")),
            containers_path, :class => 'btn btn-default'  %>
